<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.beautyProServer.Dao.AreaDao">
	<resultMap type="com.bishe.beautyProServer.Pojo.AreaPojo"
		id="areaResultMap">
		<!-- 用id属性来映射主键字段 -->
		<id property="id" column="id" />
		<!-- 用result属性来映射非主键字段 -->
		<result column="name" property="name"/>
		<result column="pid" property="pid"/>
		<result column="areaKind" property="areaKind"/>
		<!-- <result column="createdate" property="createDate"/>
		<result column="updateuser" property="updateUser"/>
		<result column="updatedate" property="updateDate"/>
		<result column="deleteuser" property="deleteUser"/>
		<result column="deletedate" property="deleteDate"/>
		<result column="deleteflag" property="deleteFlag"/> -->
	</resultMap>
	<!-- <insert id="createUser"
		parameterType="com.bishe.beautyProServer.Pojo.UserPojo"
		useGeneratedKeys="true" keyProperty="id">
		insert into user(nickname,password,email,phonenum,sex,createdate,updateuser,updatedate,deleteuser,deletedate,deleteflag)values 
		(#{nickname},#{password},#{email},#{phonenum},#{sex},#{createDate},#{updateUser},#{updateDate},#{deleteUser},#{deleteDate},#{deleteFlag})
	</insert> -->
	
	<select id="selectArea" parameterType="map" resultMap="areaResultMap">
		select * from area where 1=1
		<if test="id!=-1">
			and id=#{id}
		</if>
		<if test="name!='' and name!=null ">
			and name=#{name}
		</if>
		<!-- <if test="createDate!='' and createDate!=null ">
			and createdate=#{createDate}
		</if>
		<if test="updateUser!=-1 and updateUser!=null">
			and updateuser=#{updateUser}
		</if>
		<if test="deleteUser!=-1 and deleteUser!=null">
			and deleteuser=#{deleteUser}
		</if>
		<if test="deleteFlag!=-1 and deleteFlag!=null">
			and deleteflag=#{deleteFlag}
		</if>
		<if test="updateDate!=null and updateDate!='' ">
			and updatedate=#{updateDate}
		</if>
		<if test="deleteDate!='' and deleteDate!=null ">
			and deletedate=#{deleteDate}
		</if> -->
		
		and pid=#{pid}
		
		<if test="areaKind!=-1 and areaKind!=null">
			and areaKind=#{areaKind}
		</if>
	</select>
	
	<select id="selectAreaList" parameterType="map" resultMap="areaResultMap">
		select * from area where 1=1
		<if test="id!=-1">
			and id=#{id}
		</if>
		<if test="name!='' and name!=null ">
			and name=#{name}
		</if>
		<if test="pid!=null ">
			and pid=#{pid}
		</if>
		<if test="areaKind!=-1 and areaKind!=null">
			and areaKind=#{areaKind}
		</if>
	</select>
	
	<!-- <update id="updateUser" parameterType="map">
		update user
		<trim prefix="set" suffixOverrides=",">
			<if test="email!=null and email!='' ">
				email=#{email},
			</if>
			<if test="nickname!=null and nickname!='' ">
				nickname=#{nickname},
			</if>
			<if test="password!=null and password!='' ">
				password=#{password},
			</if>
			<if test="phonenum!=null and phonenum!='' ">
				phonenum=#{phonenum},
			</if>
			<if test="createDate!=null and createDate!='' ">
				createdate=#{createDate},
			</if>
			<if test="updateUser!=-1 and updateUser!=null">
				updateuser=#{updateUser},
			</if>
			<if test="updateDate!=null and updateDate!='' ">
				updatedate=#{updateDate},
			</if>
			<if test="sex!=-1 and sex!=null">
				sex=#{sex},
			</if>
			<if test="deleteUser!=-1 and deleteUser!=null">
				deleteuser=#{deleteUser},
			</if>
			<if test="deleteDate!='' and deleteDate!=null ">
				deletedate=#{deleteDate},
			</if>
			<if test="deleteFlag!=-1 and deleteFlag!=null">
				deleteflag=#{deleteFlag}
			</if>
		</trim>
		where id=#{updateUid}
	</update> -->
</mapper>