<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.beautyProServer.Dao.UserDao">
	<resultMap type="com.bishe.beautyProServer.Pojo.UserPojo"
		id="userResultMap">
		<!-- 用id属性来映射主键字段 -->
		<id property="id" column="id" />
		<!-- 用result属性来映射非主键字段 -->
		<result column="nickname" property="nickname"/>
		<result column="password" property="password"/>
		<result column="email" property="email"/>
		<result column="phonenum" property="phonenum"/>
		<result column="createdate" property="createDate"/>
		<result column="updateuser" property="updateUser"/>
		<result column="updatedate" property="updateDate"/>
	</resultMap>
	<insert id="createUser"
		parameterType="com.bishe.beautyProServer.Pojo.UserPojo"
		useGeneratedKeys="true" keyProperty="id">
		insert into user(nickname,password,email,phonenum,createdate,updateuser,updatedate)values 
		(#{nickname},#{password},#{email},#{phonenum},#{createDate},#{updateUser},#{updateDate})
	</insert>
	
	<select id="selectUser" parameterType="map" resultMap="userResultMap">
		select * from user where 1=1
		<if test="nickname!='' and nickname!=null ">
			and nickname=#{nickname}
		</if>
		<if test="password!='' and password!=null ">
			and password=#{password}
		</if>
		<if test="email!='' and email!=null ">
			and email=#{email}
		</if>
		<if test="phonenum!='' and phonenum!=null ">
			and phonenum=#{phonenum}
		</if>
		<if test="createDate!='' and createDate!=null ">
			and createdate=#{createDate}
		</if>
		<if test="updateUser!='' and updateUser!=null ">
			and updateuser=#{updateUser}
		</if>
		<if test="updateDate!='' and updateDate!=null ">
			and updatedate=#{updateDate}
		</if>
	</select>
	
	<select id="selectUserByPhonenum" resultMap="userResultMap">
		select * from user where phonenum=#{phonenum} and password=#{password}
	</select>
	
	<select id="selectUserByEmail" resultMap="userResultMap">
		select * from user where email=#{email} and password=#{password}
	</select>
</mapper>